#QNO.1 ANS

In [1]:
import pandas as pd

my_series = pd.Series([4, 8, 15, 16, 23, 42])

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

#QNO.2 ANS

In [3]:
import pandas as pd

my_list = [1,2,3,4,5,6,7,8,9,10]

my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

#QNO.3 ANS

In [4]:
d = {'Name':["Alice","Bob","Claire"],
     'Age':[25,30,27],
     'Gender':["Female","Male","Female"]
    
}

In [6]:
pd.DataFrame(d)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

#QNO.4 ANS

DataFrame is a two-dimensional labled data structure that consists of columns of different data types.
It is similar to SQL , where each olumn can contain diffrent data types , like integers ,floats, strings, and dates.

Pandas series is a one-dimensional labeled array that an hold data of any type, including integers, floats ,strings, and dates.
A Series has only one column of data ,and it can be seen as a single column of a DataFrame


Suppose we have a dataset containing information about the sales of different products in a store. We can represent this data using a DataFrame, where each row represents a different sale and each column represents a different attribute of the sale, such as the object name, manfacture date, the sale price, and the quantity sold.


Here's an example:

In [7]:
import pandas as pd

data ={'object':['Bike','scooty','Car','Truck'],
       'manfcture date':['2023-01-01','2023-01-02','2023-01-03','2023-01-04'],
       'price':[70000, 30000, 5000000,10000000],
       'Quantity':[12,22,3,44]}

In [8]:
pd.DataFrame(data)

   object manfcture date     price  Quantity
0    Bike     2023-01-01     70000        12
1  scooty     2023-01-02     30000        22
2     Car     2023-01-03   5000000         3
3   Truck     2023-01-04  10000000        44

#QNO.5 ANS

Pandas provides many useful functions to manipulate data in a DataFrame.

1.head() and tail(): These functions allow you to view the first or last few rows of a DataFrame. They are useful for quickly inspecting a DataFrame to see what it contains.

In [3]:
import pandas as pd

df = pd.read_csv('taxonomy.csv.xls')
print(df.head())
print((df.tail))

  taxonomy_id                     name parent_id     parent_name
0         101                Emergency       NaN             NaN
1      101-01        Disaster Response       101       Emergency
2      101-02           Emergency Cash       101       Emergency
3   101-02-01        Help Pay for Food    101-02  Emergency Cash
4   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash
<bound method NDFrame.tail of     taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]>

2.describe(): This function gives a statistical summary of a DataFrame, including the count, mean, standard deviation, minimum, maximum, and quartile values of each column.

In [4]:
import pandas as pd 

df = pd.read_csv('taxonomy.csv.xls')
print(df.describe())

       taxonomy_id          name  parent_id       parent_name
count          290           290        279               279
unique         290           183         60                50
top            101  Nursing Home  106-06-07  Health Education
freq             1             4         11                15

#QNO.6 ANS

In Pandas, both Series and DataFrame are mutable objects, which means that their values can be changed after they are created. However, Panel is an immutable object, which means that its values cannot be changed after it is created.

Note that even though Series and DataFrame are mutable, it is generally recommended to avoid modifying them in place and instead use functions that return new objects, as this can help avoid unexpected side effects and make the code more readable and easier to debug.

#QNO.7 ANS

In [6]:
import pandas as pd

names = pd.Series(['Alice', 'Bob', 'Charlie', 'Dave'])
ages = pd.Series([25, 30, 35, 40])
countries = pd.Series(['USA', 'Canada', 'Australia', 'UK'])

df = pd.DataFrame({'Name': names, 'Age': ages, 'Country': countries})

print(df)

      Name  Age    Country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   35  Australia
3     Dave   40         UK